*{
 margin: 0px;
}

.navbar_ul {
    list-style-type: none;
    width: 45%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.navbar_li {
    text-align: center;
    padding-left: 100px;
    padding-top: 5px;
    float: left;
    position: relative;
}

.navbar_a {
    display: block;
    color: aliceblue;
    font-size: 20px;
    width: auto;
    position: relative;
    cursor: pointer;
}
.navbar_a:hover {
    color: white;;
}

.image_gallery {
    width: 99%;
    margin-top: 10px;
    position: relative;
    left: 5px;
    top: 65%;
    bottom: 3px;
    /*top: 600px;*/
}

.image_gallery img {
    position: relative;
    max-width: 25%;
    max-height: 100%;
    float: right;
    height: inherit;
    width: 100%;
    padding: 1px;
    left: 0;
    /*right: 0;*/
    /*top: 0;*/
    bottom: 3px;
}


.image_box{
    max-width: 40%;
    min-width: 30%;
    max-height: 40%;
    min-height: 30%;

    margin: auto;
    padding-left: 4.35%;
    padding-right: 4.35%;
    vertical-align: middle;
}

.center img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.newCustomer {

    margin: 5px;
    float: inherit;
    position: relative;
    padding:20px;
    border: 1px black;
    border-style: solid;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

.slab{
    float: left;
    width:50%
}
.newCustomer:hover {
    margin: 5px;
    float: inherit;
    position: relative;
    padding:20px;
    border: 1px whitesmoke;
    border-style: solid;
    box-shadow: 5px 5px 10px whitesmoke;
}
.greettext{
    float: inherit;
    color: aliceblue;
    margin: auto;
    position: relative;
    padding: 20px;
    font-family: "Script MT";
    font-size: 30px;
}

.retCustomer {
    float: inherit;
    margin: 5px;
    position: relative;
    padding:20px;
    border: 1px black;
    border-style: solid;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    /*margin-left: 75px;*/

}
.retCustomer:hover {
    float: inherit;
    margin: 5px;
    position: relative;
    padding:20px;
    border: 1px whitesmoke;
    border-style: solid;
    box-shadow: 5px 5px 10px whitesmoke;
    /*margin-left: 100px;*/
}
body {
    //background: url("/HRS/images/caveart.jpg");
    //background: repeating-linear-gradient(auto);
}
.grad {
    height: 900px;
    margin-top: 5px;
    background: -webkit-linear-gradient(black 1%, darkred 90%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black 1%, darkred); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black 1%, darkred); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black 1%, darkred 99%); /* Standard syntax (must be last) */
}

.reservation{
    width: 17%;
    height: 5%;
    margin: auto;
    padding: 2%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5.85%;
}

.reservationConfirmCode{
    width: 17%;
    height: auto;
    margin: auto;
    padding: 2%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20.65%;
}

.reservationConfirmCodeRefresh{
    width: 17%;
    height: auto;
    margin: auto;
    padding: 2%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 17%;
}
.reservationConfirm{
    width: 20%;
    height: 5%;
    margin: auto;
    padding: 2%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 7.55%;
}

.reservationtable{
    /*width: 45%;*/
    /*height: 5%;*/
    margin: auto;
    padding: 2%;
    /*vertical-align: middle;*/
    text-align: center;
    margin-bottom: 21.85%;
}

.reservationtableUnsecure{
    width: 20%;
    /*height: 5%;*/
    margin: auto;
    padding: 2%;
    /*vertical-align: middle;*/
    text-align: center;
    margin-bottom: 17.75%;
}

.tablealign{
    float:left;
    position: absolute;
    left: 19.2%;
    top:200px;
    margin-bottom: 20%;
}
.tablealign td{
    cursor: pointer;
}

.table>tbody>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #E7F0F5;
}
.table-condensed>tbody>tr>td {
    padding: 2px 4px;
}

.customeralign{
    float: left;
    position: relative;
    margin-left: 60%;
}

.customerProfileAlign{
    width: 15%;
    float: left;
    position: relative;
    margin-left: 40%;
    margin-right: 45%;
}

.ownerchoice {
    background: greenyellow;
    border-right: solid black
}
.clearfix:after {
    padding-left:9%;
    padding-right:9%;
    margin-bottom: 20%;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.signin {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20.05%;
}

.cancelbutton {
    float: right;
    width: 48%;
    /*margin-left: 5%;*/
}

.primeButton{
    float:left;
    width: 48%;
}

.inputBox {
    width: 100%;
}

.has-error{
 background: red;
}

.readme{
    color: white;
    margin-bottom: 9%;
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}