 <div class="reservationtable" ng-if="vm.secure" ng-init="choice = 'res'" xmlns:date="http://www.w3.org/1999/xhtml">
    <ul class="nav nav-tabs container" >
        <li role="presentation" class="ownerchoice"><a href="#/reservations" ng-click="choice = 'res'">Reservations</a></li>
        <li role="presentation" class="ownerchoice"><a href="#/reservations" ng-click="choice = 'table'">Tables</a></li>
        <li role="presentation" class="ownerchoice"><a href="#/reservations" ng-click="choice = 'profile'">Profile</a></li>
        <li style="width: 20%; float: right; border:2px"><button class="btn btn-lg btn-default" ng-click="vm.logout()">Logout</button></li>
    </ul>

    <div ng-if="choice == 'res'">
        <table border="1px" class="table table-bordered tablealign" style="color: aliceblue; width: 600px;">
            <thead>
            <th>Reservation: </th>
            <th>Customer</th>
            <th>Table</th>
            <th>Since</th>
            <th>Status</th>
            </thead>
            <tbody>
            <tr class="animate" ng-repeat="r in vm.reservations" ng-click="vm.reservationDetails($index)">
                <td>{{r.id}}</td>
                <td>{{r.customer}}</td>
                <td>{{r.table}}</td>
                <td>{{r.since}}</td>
                <td>{{r.status}}</td>
            </tr>
            </tbody>
        </table>

        <section ng-if="vm.reservation" class="customeralign">
            <h2 class="greettext">Reservation Details</h2>
            <div class="form-group ">
                <input ng-model='vm.reservation.name' type="text" id="resCustName" class="form-control inputbox" placeholder="{{ vm.reservation.id }}" required autofocus >
            </div>
            <div class="form-group">
                <input ng-model='vm.reservation.size' type="text" id="resSize" class="form-control inputbox" placeholder="{{ vm.reservation.customer }}" required>
            </div>
            <div class="form-group">
                <input ng-model='vm.reservation.date' type="text" id="resDate" class="form-control inputbox" placeholder="{{ vm.reservation.table }}" required >
            </div>
            <div class="form-group">
                <input ng-model='vm.reservation.time' type="text" id="resTime" class="form-control inputbox" placeholder="{{ vm.reservation.since }}" required >
            </div>
            <div class="form-group">
                <input ng-model='vm.reservation.contact' type="text" id="resContact" class="form-control inputbox" placeholder="{{ vm.reservation.status }}" required >
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default cancelbutton " ng-click="vm.changeView('/')">Cancel
                </button>
                <button class="btn btn-lg btn-primary primeButton" ng-click='vm.userAuth()'>Save</button>
            </div>
        </section>
    </div>


    <div ng-if="choice == 'table'">
        <table border="1px" class="table table-bordered tablealign" style="color: aliceblue; width: 600px;">
            <thead>
            <th>Table No.</th>
            <th>Status</th>
            <th>Since</th>
            <th>Confirmation code</th>
            </thead>
            <tbody>
            <tr ng-repeat="t in vm.tables" ng-click="vm.customerDetails($index)">
                <td>{{t.tableid}}</td>
                <td>{{t.status}}</td>
                <td>{{t.since}}</td>
                <td ng-click="">{{t.confcode}}</td>
            </tr>
            </tbody>
        </table>
        <section ng-if="vm.customer" class="customeralign">
            <h2 class="greettext">Customer Details</h2>
            <div class="form-group inputBox">
                <input ng-model='vm.customer.name' type="text" id="custName" class="form-control inputbox" placeholder="{{ vm.customer.name }}" required autofocus >
            </div>
            <div class="form-group">
                <input ng-model='vm.customer.size' type="number" id="size" class="form-control inputbox" placeholder="{{ vm.customer.size }}" required autofocus >
            </div>
            <div class="form-group">
                <input ng-model='vm.customer.date' type="date" id="date" class="form-control inputbox" placeholder='{{ vm.customer.date | date:"MM/dd/yyyy" }}' required autofocus >
            </div>
            <div class="form-group">
                <input ng-model='vm.customer.time' type="time" id="time" class="form-control inputbox" placeholder="{{ vm.customer.time }}" required autofocus >
            </div>
            <div class="form-group">
                <input ng-model='vm.customer.contact' type="text" id="contact" class="form-control inputbox" placeholder="{{ vm.customer.contact }}" required autofocus >
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default cancelbutton " ng-click="vm.changeView('/')">Cancel</button>
                <button class="btn btn-lg btn-primary primeButton" ng-click='vm.userAuth()'>Save</button>
            </div>
        </section>
    </div>

    <div ng-if="choice == 'profile'">
        <section class="customerProfileAlign">
            <h2 class="greettext">Restaurant Profile</h2>

            <div class="form-group">
                <input ng-model='vm.profile.name' type="text" id="profileName" class="form-control inputbox" placeholder="{{ vm.profile[0].name }}" required autofocus >
            </div>
            <div class="form-group">
                <input ng-model='vm.profile.email' type="email" id="profileEmal" class="form-control inputbox" placeholder="{{ vm.profile[0].email }}" required >
            </div>
            <div class="form-group">
                <input ng-model='vm.profile.address' type="text" id="profileAddress" class="form-control inputbox" placeholder="{{ vm.profile[0].address }}" required >
            </div>
            <div class="form-group">
                <input ng-model='vm.profile.contact' type="text" id="profileContact" class="form-control inputbox" placeholder="{{ vm.profile[0].contact }}" required >
            </div>
            <div class="form-group">
                <input ng-model='vm.profile.opentime' type="text" id="opentime" class="form-control" placeholder="{{ vm.profile[0].opentime }} (Open Time)" required>
                <input ng-model='vm.profile.closetime' type="text" id="closetime" class="form-control" placeholder="{{ vm.profile[0].closetime }} (Close Time)" required >
            </div>
            <div class="form-group" style="color: #E7F0F5">
                <input ng-model='vm.profile.autoassign' type="checkbox" ng-true-value="true" ng-false-value="false" ng-change="vm.checkbx()"> Auto Assign
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default cancelbutton " ng-click="vm.changeView('/')">Cancel
                </button>
                <button class="btn btn-lg btn-primary primeButton" ng-click='vm.profileUpdate()'>Update</button>
            </div>
        </section>
    </div>
</div>

<div class="reservationtableUnsecure" ng-if="!vm.secure">
    <p class="greettext">Not Authorized. <br>Please login.</p>
</div>