<div class="readme">
    <h1>Readme!</h1>
    <h2>Customer</h2>
    <h3>New Customer</h3>
    <p>New Customer can click on <em>new customer</em> greeting image and then can submit new reservation request.</p>
    <h3>Existing Customer</h3>
    <p>Existing Customer can click on <em>existing customer</em> greeting image and then he/she need to provide the confirmation code<br/>
        to confirm pending request or edit it or delete it.</p>
    <h2>Owner</h2>
    <p>Owner should click on <em>employee</em> link in top nav bar. Then he needs to login with proper credentials. Then clicking<br/>
        on one of the three tabs he can see required information and also can edit them too</p>
</div>
