<div class="image_gallery">
    <img class="img-rounded  imagepod" src="/HRS/images/restaurant_1.jpg" >
    <img class="img-rounded  imagepod" src="/HRS/images/restaurant_2.jpg" >
    <img class="img-rounded  imagepod" src="/HRS/images/restaurant_3.jpg" >
    <img class="img-rounded  imagepod" src="/HRS/images/restaurant_4.jpg" >
</div>
