<!--<div ng-controller="navController as vm">-->
<div class="navbar navbar-inverse">
    <ul class="navbar_ul">
        <li class="navbar_li"><a class="navbar_a" href="#/HRS/"  ng-click='vm.flip(false)'>Home</a></li>
        <li class="navbar_li"><a class="navbar_a" href="#contact">Contact</a></li>
        <li class="navbar_li"><a class="navbar_a" href="#/readme">About</a></li>
        <li class="navbar_li"><a class="navbar_a" href="#/HRS/" ng-click='vm.flip(true)'>Employee Login</a></li>
    </ul>
</div>
<!--</div>-->