<div class="image_box" ng-if='vm.isOwner == false'>


    <div class="clearfix">
        <div class="slab">
            <label for="newcustomer" class="greettext">New Customer</label>
            <a  href="#/newcustomer" id="newcustomer"> <img class="newCustomer img-responsive img-rounded" src="images/newCustomer.jpg" alt="New Customer"/></a>
        </div>
        <div class="slab">
            <label for="retcustomer" class="greettext">Existing Customer</label>
            <a id="retcustomer" href="#/retcustomer" id="retcustomer"><img class="img-responsive img-rounded retCustomer" src="images/retCustomer.jpg" alt="Returning Customer"/></a>
        </div>
    </div>
</div>

<div class="signin" ng-if='vm.isOwner == true'>

    <form class="form-signin">
        <h2 class="form-signin-heading greettext text-center">Sign in</h2>
        <div class="form-group">
        <label for="username" class="sr-only">User Name</label>
        <input ng-model='vm.owner.username' type="text" id="username" class="form-control" placeholder="User Name"
               required autofocus >
        </div>
        <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model='vm.owner.password' type="password" id="inputPassword" class="form-control"
               placeholder="Password" required >
        </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default cancelbutton" ng-click='vm.isOwner=false'>Cancel
                </button>
                <button class="btn btn-lg btn-primary primeButton" ng-click='vm.ownerAuth()' >Sign in </button>

        </div>

    </form>

</div>