<div class="reservationConfirm">
    <div ng-if='vm.reservationconfirm == true'>
        <h2 class="greettext">Edit Reservation</h2>
        <div class="form-group">
            <input ng-model='vm.retCust.name' type="text" id="confirmedcustName" class="form-control inputBox" placeholder="Enter name" required autofocus readonly >
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.size' type="text" id="confirmedsize" class="form-control inputBox" placeholder="Number of people" required  >
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.date' type="text" id="confirmeddate" class="form-control inputBox" required  >
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.time' type="text" id="confirmedtime" class="form-control inputBox" required  >
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.contact' type="text" id="confirmedcontact" class="form-control inputBox" placeholder="Enter contact details." required >
        </div>
        <div class="form-group">
            <button class="btn  btn-primary primeButton" ng-click="vm.editReservation()">Update
            </button>
            <button class="btn btn-default cancelbutton" ng-click='vm.deleteReservation()'>Delete</button>
        </div>
    </div>
    <div ng-if='vm.reservationconfirm == false'>
        <h2 class="greettext">Confirm Reservation</h2>
        <div class="form-group">
            <input ng-model='vm.retCust.name' type="text" id="pendingcustName" class="form-control inputBox" placeholder="Enter name" required autofocus readonly>
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.size' type="text" id="pendingsize" class="form-control inputBox" placeholder="Number of people" required readonly>
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.date' type="text" id="pendingdate" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.time' type="text" id="pendingtime" class="form-control" required readonly>
        </div>
        <div class="form-group">
            <input ng-model='vm.retCust.contact' type="text" id="pendingcontact" class="form-control" placeholder="Enter contact details." required readonly>
        </div>
        <p>
            <button class="btn btn-lg btn-primary primeButton" ng-click='vm.confirmReservation()'  >Confirm</button>
        </p>
        <p>
            <button class="btn btn-lg btn-default cancelbutton" ng-click="vm.deleteReservation()">Delete
            </button>
        </p>
    </div>
</div>