
<div class="reservation">
    <h2 class="row text-center greettext">Reservation Request</h2>

    <form name="newReservation" novalidate ng-submit='vm.reserveTable()'>


        <div class="form-group" ng-class="{'has-error' : newReservation.custName.$invalid && newReservation.custName.$dirty }">
            <input ng-model='vm.newcust.name' type="text" name="custName" class="form-control inputBox" placeholder="Enter name" required autofocus>
            <div ng-messages="newReservation.custName.$error" ng-if="newReservation.custName.$dirty">
                <span class="help-block" style="color: yellow" ng-message="required">Name is required</span>
                <p class="help-block" ng-message="minlength">Username is too short</p>
                <p class="help-block" ng-message="maxlength">Username is too long</p>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error' : newReservation.size.$invalid && newReservation.size.$dirty }">
            <input ng-model='vm.newcust.size' type="number" name="size" class="form-control inputBox" placeholder="Number of people" required min="1" max="15">
            <div ng-messages="newReservation.size.$error" ng-if="newReservation.size.$dirty">
                <span ng-message="number" class="help-block" style="color: yellow">Not a valid number.</span>
                <span ng-message="required" class="help-block" style="color: yellow">Size is required.</span>
                <span ng-message="min" class="help-block" style="color: yellow">Size can't be less than 1.</span>
                <span ng-message="max" class="help-block" style="color: yellow">For size more than 15, call us.</span>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error' : newReservation.date.$invalid && newReservation.date.$dirty }">
            <input ng-model='vm.newcust.date' type="date" name="date" class="form-control inputBox" placeholder="yyyy-MM-dd" min="2015-01-01" max="2015-12-31" required >
            <div ng-messages="newReservation.date.$error" ng-if="newReservation.date.$dirty">
                <span ng-message="required" class="help-block" style="color: yellow">Date is required.</span>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error' : newReservation.time.$invalid && newReservation.time.$dirty }">
            <input ng-model='vm.newcust.time' type="time" name="time" class="form-control inputBox" placeholder="Time" required >
            <div ng-messages="newReservation.time.$error" ng-if="newReservation.time.$dirty">
                <span ng-message="required" class="help-block" style="color: yellow">Time is required.</span>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error' : newReservation.contact.$invalid && newReservation.contact.$dirty }">
            <input ng-model='vm.newcust.contact' type="text" name="contact" class="form-control inputBox" placeholder="Contact Number" required >
            <div ng-messages="newReservation.contact.$error" ng-if="newReservation.contact.$dirty">
                <span ng-message="required" class="help-block" style="color: yellow">Contact number is required.</span>
            </div>
        </div>


        <button type="submit" class="btn btn-lg btn-primary primeButton">Submit</button>
        <button class="btn btn-lg btn-default cancelbutton" ng-click="vm.changeView('/')">Cancel</button>
    </form>
</div>
