<div ng-class="{false:'reservationConfirmCode',true:'reservationConfirmCodeRefresh'}[vm.showconfcode]" >

    <div class="form-group">
        <label for="customer"></label>
        <input type="text" id="customer" ng-model="vm.customername" class="form-control text-center inputBox" placeholder="Enter the customer name">
    </div>

    <div class="form-group" ng-show="vm.showconfcode">
    <label for="confirmationcode"></label>
        <input type="text" id="confirmationcode" ng-model="vm.confirmationCode" class="form-control text-center inputBox" placeholder="Enter the confirmation code">
        </div>
    <div class="form-group">
        <button class="btn btn-lg btn-default cancelbutton" ng-click="vm.changeView('/')">Cancel
        </button>
        <button class="btn btn-lg btn-primary primeButton" ng-click="vm.confirmCode()">Submit</button>
    </div>
</div>